.titleContainer {
  background-color: transparent;
  text-align: center;
  padding: 30px 20px;
  /*overflow: hidden;*/
}

.titleContainer h1 {
  font-family: "Playfair Display", serif;
  color: #1E272E;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.titleContainer span {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  gap: 20px;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #778899;
  text-transform: uppercase;
  /*padding-top: 5px;*/
}

.titleContainer span:after,
.titleContainer span:before {
  content: " ";
  display: block;
  /*border-top: 1px solid #ccc;*/
  /*border-bottom: 1px solid #ccc;*/
  height: 5px;
  background-color:#CFD8DC;

}
