.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  z-index: 100;
  top: 0;
  position: sticky;
  background: rgba(30,32,41,0.5);
  backdrop-filter: blue(10px);
  -webkit-backdrop-filter: blut(10px);
  border-bottom: 1px solid rbga(255, 255, 255, 0.1);

}

.logo img {
  height: 40px;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

.title {
  text-align: center;
  color: #4a4a4a;
  position: absolute; /* Added for centering */
  left: 50%; /* Added for centering */
  transform: translateX(-50%); /* Added for centering */
}

.title h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.title span {
  font-size: 0.8rem;
  color: #757575;
}

.menu {
  display: flex;
  align-items: center;
  gap: 25px;
}

.menu a, 
.menu button {
  text-decoration: none;
  background: transparent;
  border: none;
  color: #a9acb2;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.2s ease, text-shadow 0.2s ease;
}

.menu a:hover, 
.menu button:hover {
  color: #ffffff;
  text-shadow: 0 0 5px rgba(0,229,255,0.5);
}


.subscribeButton,
.loginButton {
  padding: 8px 18px;
  border-radius: 6px;
  border: 1px solid #00e5ff;
  color: #00eff;
}

.subscribeButton:hover,
.loginButton:hover {
  background-color: rgba(0, 229, 255, 0.1);
  color: #00e5ff;
}

.signInButton {
  background-color: #007bff;
  color: white;
}

.viewButton {
  text-decoration: none;
  background-color: #6c757d;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}
